
body {
    background-color: rgb(233, 250, 252);
    text-align: center;
}

.webpages {
    margin-top: 30px;
    padding: 1rem 2rem;
    text-align: center;
    background-color: rgb(231, 234, 238);
    opacity: 90%;
    border-radius: 10px;
}

.webpages li {
    display: inline;
    margin-right: 15px;
    
}

.website_pages {
    font-family: roboto, sans-serif, arial;
    font-size: 1.3em;
    font-weight: 300;
    color: rgb(36, 43, 83);
    border-radius: 5px;
    border-width: 1cm;
    text-decoration: none;
}

.webpages img {
    width: 1.6em;
    height: 1.6em;
    vertical-align: middle;
}

main {
    text-align: center;
    font-size: 1.3em;
    margin-top: auto;
    margin-left: 3em;
    margin-right: 3em; 
} 

h1 {
    font-size: 2.4em;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1.5em;
}

#activity {
    background-color: white;
    padding: 2em 1.5em;
    width: fit-content;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    box-shadow: 0 8px 24px rgba(13,13,18,.04);
    border-radius: 4px;
}

#activityTitle {
    margin-bottom: 1em;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#date {
    margin-top: 0.5em;
}

dl {
    margin-bottom: 1em;
  }

dt {
    padding-left: 10px;
    display:inline;
}
dt img {
    width: 1em;
    vertical-align: bottom;
}

dd {
    border-right: 1px;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    padding-right: 10px;
    display: inline;
}

dd:last-child {
    border-right: 0px;
}

.hover {
    display: none;
}

dt img:hover + .hover {
    border: 1px;
    border-width:1px;
    padding: 0.3em;
    border-color:black;
    background-color: black;
    border-radius: 10px;
    font-size: small;
    color: white;
    display: inline;
} 


.map {
    height: 25em;
    width: 40em;
    margin: 0 auto;
    max-width: 100%;
}