body {
    font-family: Helvetica, sans-serif, Arial
}
.landingheader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image:url(profilebackground.jpg); 
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    font-weight: bold;
}
#name {
    font-family: serif;
    font-size: 4em;
}

.webpages {
    margin-top: 30px;
    padding: 1rem 2rem;
    text-align: center;
    background-color: aliceblue;
    opacity: 90%;
    border-radius: 1000px;
}

.webpages li {
    display: inline;
    margin-right: 15px;
    
}

.website_pages {
    font-family: Roboto, sans-serif, arial;
    font-size: 16px;
    font-weight: 300;
    color: rgb(63, 57, 57);
    border-radius: 5px;
    border-width: 1cm;
    text-decoration: none;
}
.contactinfo {
    margin-top: 100px;
}
.contactinfo li {
    display: inline;
    margin-right: 10px;
}
.contactinfo img {
    width: 48px;
    height: 48px;
}