body {
    font-family: Helvetica, sans-serif, Arial
}
.landingheader {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image:url(profilebackground.jpg); 
    background-size: cover;
    background-position: bottom;
    color: whitesmoke;
    font-weight: bold;
}
#name {
    font-family: serif;
    font-size: 4em;
}
.headerlinks {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:antiquewhite;
    border-radius: 5px;
    border-width: 1cm;
}
#contactinfo {
    color: antiquewhite;
    font-size:xx-large;
    
}